//MAIN COLOUR

$colour-primary: #30728C;
$colour-primary_dark: #2D5972;
$colour-secondary: #12993f;
$colour-accent: #F25C05;
$colour-accent_dark: #C94C04;
$colour-heading: #1e3e4c;
$colour-grey-light: #9daaaf;
$colour-white: #ffffff;
$colour-black: #000000;
$colour-error: #f43e06;

//WARNING COLOR
$colour-warning: rgb(243, 152, 24);
$colour-success:rgb(55, 175, 91);
$colour-danger: rgb(236, 63, 72);



$font-family-hind: 'Hind Madurai', sans-serif;
$font-family-montserrat:  'Montserrat', sans-serif;
$font-family-arizonia:  'Arizonia', cursive, sans-serif;
$font-family-paragraph:  'Montserrat', sans-serif;



$heading1: 42px;
$heading2: 36px;
$heading3: 26px;
$heading4: 26px;


$fast-animation-time: 0.4s ease;



$media-sm: 500px;
$media-md: 767px;
$media-lg: 992px;
$media-lg-xx: 1150px;



