.section_vision{
  max-width: 90%;
  margin: 0px auto;
  text-align: center;
  padding: 25px 5px;
  margin-top: 10px;
}

.paragraf_style{
  font-size: 17px;
  white-space: pre-wrap;
}

@media only screen and (min-width:$media-sm) {
  .paragraf_style{
    font-size: 18px;
  }

}

@media only screen and (min-width:$media-md) {
  .paragraf_style{
    padding-top: 20px;
  }

}

@media only screen and (min-width:$media-lg) {
  .section_vision{
    max-width: 1050px;
    padding-top: 30px;
    
  }
  .paragraf_style{
    font-size: 19px;
  }

}